@charset "UTF-8";

.row{
	padding: 5,5,5,5;
  	align-items: center;
}

.navbar-header{
	padding-left: 5px;
}

.navbar-text{
	text-align:right;
}


#corpsdetexte{
	margin-top: 50px;
}

#bouton_deco{
	display: flex;
  	flex-direction: row;
	align-items: center;
	text-align:right;
	
}

